<img src="ku_logo_uk_v.png" alt="drawing" width="500" style="float:right"/>


# Welcome to Workshop 8 - Introduction to Programming and Numerical Analysis !!!

# Today
- API's
- Pandas Merges
- Split-Apply-Combine

# Statistics Denmark API

## Read the docs
https://pydst.readthedocs.io/en/latest/pydst.html

In [ ]:
import pydst
dst = pydst.Dst(lang='en') # import statistics denmarks api
tab = 'INDKP101' # some income table
variables  = dst.get_variables(table_id = tab) # investigate the options
variables.id.values

In [ ]:
selected_vars = {'ENHED':['*'], 
                 'KOEN':['*'],
                 'Tid':['*']} # select some stuff

In [ ]:
df = dst.get_data(table_id=tab, 
                   variables=selected_vars) # get the data
df.sample(10)

In [ ]:
df.ENHED.value_counts() # investigate income types

In [ ]:
df = df[df.ENHED == 'Average income for all people (DKK)'] # subset the dataset
df.sample(10)

In [ ]:
tab2 = 'PRIS112' # yet another table, this time with inflation
variables2  = dst.get_variables(table_id = tab2) # investigate the content
variables2.id.values

In [ ]:
selected_vars2 = {'HOVED':['*'], 
                 'Tid':['*']} # select stuff

In [ ]:
df2 = dst.get_data(table_id=tab2, 
                   variables=selected_vars2) # get the data
df2.sample(10)

In [ ]:
df2 = df2[df2.HOVED == 'Average, yearly'] # subset the data
df2.tail()

# Merging two data sets

## Your new favorite website
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
import pandas as pd

In [ ]:
result = pd.merge(df, df2, how="left", on=["TID"]) # can be left, right, outer, inner etc.

# Split-Apply-Combine

In [ ]:
# a. split
res_grouped = result.groupby(['KOEN', 'TID']) # group by gender and year

In [ ]:
# b. apply
res_app = res_grouped.apply(lambda x: ( x['INDHOLD_x'] / x['INDHOLD_y']).sum()) # divide income w. inflation
res_app

In [ ]:

# c. combine
result = res_app.unstack() # unstack the tables
result

In [ ]:
result.T.plot() #  transpose and plot

# Time for problem set 4